body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

li {
  list-style: none;
}

.logo {
  display: flex;
  gap: 10px;
  padding: 0%;
  font-size: 1.5rem;
  align-items: center;
}

.header-logo {
  padding-top: 4px;
}

.header-nav_ul,
.header-nav {
  display: flex;
  align-items: center;
}

.header-navbar {
  display: flex;
  width: 95%;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  margin: auto;
}

.space-travellers {
  font-size: 1.5em;
  padding: 0%;
}

.header-nav_ul {
  display: flex;
}

.rockets,
.missions,
.profile {
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  color: rgba(32, 5, 185, 0.918);
}

.rocket-card {
  margin-left: 5%;
  margin-right: 5%;
}

.rockets-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.rockets-desc {
  margin: 1rem;
}

.rockets-desc-btn {
  width: 150px;
  height: 30px;
  background-color: #0d7bff;
  border-radius: 5px;
  border: none;
  color: white;
}

.rockets-desc-title {
  margin-top: 0%;
  margin-bottom: 0%;
}

.reserved-span {
  background-color: #18a2b8;
  border-radius: 5px;
  border: none;
  color: white;
}

.unreserve-btn {
  width: 150px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  border: 1px grey solid;
  color: grey;
}

.profile-section {
  display: flex;
  width: 95%;
  margin: auto;
}

.my-rockets-profile,
.my-missions-profile {
  width: 48%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.profile-rocket-name {
  border: 0.5px solid gray;
  height: 4rem;
  padding-left: 1rem;
  padding-top: 0.8rem;
  font-weight: 600;
  border-radius: 5px;
}

.profile-headers {
  margin-left: 2.5rem;
}

.container {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
}

thead tr {
  text-align: left;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}

.btn-outline-danger {
  background-color: transparent;
  color: #e87782;
  border: 1px #e87782 solid;
  border-radius: 40px;
  font-weight: bold;
}

.btn-outline-dark {
  background-color: transparent;
}

.bg-secondary {
  background-color: #6d757d;
  color: #fff;
  padding: 1px 5px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.bg-info {
  background-color: #18a2b8;
  color: #fff;
  font-weight: bold;
}

td span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge {
  border-radius: 3px;
  padding: 5px;
  font-size: 10.5px;
  width: 86px;
}

.btn {
  border-radius: 5px;
  width: 7rem;
  font-size: 16px;
  margin: 0 11px;
}

.pb-5:nth-child(odd) {
  background: #eef0f1;
}

.pb-5:nth-child(even) {
  background: rgb(253, 253, 253);
}
